@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');


p {
	font-size: 16px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #ffffff;
  text-align: justify;
}

body {
  background-color: #1e252d;
 }

.rubric-launch{
  color:#ffffff
}

/* ------------------------------------------------------------------------------
	Grid stuff
-------------------------------------------------------------------------------*/

.grid_items {
  padding: 2px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 1200px; 
  margin: 0 auto 0 auto !important;
  padding: 0 5 0 5; 
  grid-column-gap: 20px;
  grid-row-gap: 10px
}
.grid_items > div {
  background-color: beige;
  padding: 5px;
  border-radius: 10px;
  width: 570px;
  margin:auto;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: beige;
}
.grid_items > div:nth-child(3n) {
  background-color: beige;
}

/* Two columns*/
@media only screen and (min-width: 850px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 1200px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: center;
    color:black;
    font-size: small
  }
  .grid_items > div {
    padding: 5px;
  }
}

.rubric, .rubric-launch {
  text-align: justify;
}

ul {
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #000000;
}

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ul, ol {
	margin: 5px 5px;
	padding: 0;
}
ul li {
   list-style-position: inside;
}

/* ------------------------------------------------------------------------------
	Lists
-------------------------------------------------------------------------------*/

h1 {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-variant: large;
	font-size: 50px;
	color: #ffffff;
	margin: 30px 0px 30px 0px  ;
	height: 40px;
  text-align: center
}
h2 {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 24px;
	color: #ffffff;
	margin: 0;
  text-align: center;
  text-decoration: underline
}	
  
}

h3 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #ffffff;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/

/* Links as buttons */
a {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
    background-color:#1e252d;
    color: white;
    padding: 0.05em 0.10em;
    text-decoration: none;
    text-transform: none;
    border-radius: 8px;
}

/* unvisited link */
a:link {
  color: #cbc7cf;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #cbc7cf;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  /* color: rgb(255, 173, 31); */
  border-color: rgb(255, 173, 31);
  text-decoration: none;
  opacity:1;
  border-color: rgb(255, 173, 31);
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 400;
	color: #ffffff;
	max-width: 1200px; 
	margin: 0 auto 0 auto !important;
	padding: 0 5 0 5; 
	float: none !important;
  text-align: justify;
}
