/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: #1e252d;
 }


/* Choose the appearance of the tags, h1, h3 and p: */
p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
h1,h3{color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: #1e252d;

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #1e252d;
    text-align: justify;
}


/* Set the apperance of the class, chart */
.Chart1{
    background-color: white;
    width:1000px;
    border-width: 1px;
    border-style: solid;
    border-radius: 500px;
    border-color: rgb(255, 252, 252);
    height: 1000px;
}
.Chart2{
    background-color: white;
    width:1000px;
    border-width: 1px;
    border-style: solid;
    border-radius: 500px;
    border-color: rgb(255, 252, 252);
    height: 1000px;
}

/* Set the apperance for a particular chart */
#Chart1{
    left: 120px;
}
#Chart2{
    left: 75px;  
}